*{
    padding:0px;
    margin: 0px;
    font-family: "raleway";
}
body{
    padding: 0 50px 0 50px
}
@font-face {
    font-family: "raleway";
    src: url(police/Raleway-VariableFont_wght.ttf),
        url(police/Raleway-Italic-VariableFont_wght.ttf);
}
.flex{
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;    
}
/*responsive body*/
@media screen and (max-width: 1280px){
    body{
        font-size: 0.9em;
    }
}
    @media screen and (max-width:1024px){
        body{
            padding: 0 25px 0 25px;
    }
}
@media screen and (max-width: 817px){
    body{
        padding: 0;
        font-size: 0.9em;
    }
}
@media screen and (max-width: 525px){
    h2{
        font-size: 1.5em;
    }
}
/*header*/

header{
    width: 100%;
    justify-content: space-between;
}
#logoreservia{
    width:9em;
    padding-top: 20px;
    margin-left: 10px;
}
.navheader {
    font-size: 1.3em;
}
.navheaderlinks:hover{
    font-weight: bold;
}
.group1{
    padding: 40px 40px 0 40px;
}
.group2{
    padding: 40px 40px 0 40px;
}
.lodgingheader{
    border-top: solid #0065FC;
}
.lodgingheader a{
    color: #0065FC;
}
.activitiesheader a:hover{
    color: #0065FC;
}
.activitiesheader:hover{
    border-top: solid #0065FC;
}
.signup a{
    color: #0065FC;
    font-weight: bold;
}
.signup a:hover{
    color: #0065FC;
    font-weight: bold;
    font-size: 1.1em;
}
/*responsive header*/

@media screen and (max-width: 817px){
    header{
        flex-wrap: wrap;
    }
    .navheader{
        width: 100%;
    }
    .activitiesheader{
        border-bottom: solid #F2F2F2;
    }
    .lodgingheader{
        border-bottom: solid #0065FC;
    }
    #logoreservia{
        width:8em;
    }
    .signup{
        position: absolute;
        top: 5px;
        right: 0px;
    }
    nav a:hover{
        font-size: 1.1em;
    }
    .group1{
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 40px 10px 20px 10px;
        border-top: none;
    }
    .group1:hover{
        border-top: none;
        border-bottom: solid #0065FC;
    }
    .group2{
        padding: 40px 20px 0 20px;
    }
}

/*section research*/

h1{
    margin: 50px 0 10px 0px;
}
.searchbar{
    margin-top: 25px;
    font-size: 2.5em;
}
.gpsiconbox{
    width: 1em;
    height: 1em;
    border-radius: 15px 0 0 15px;
    justify-content: center;
    border:solid #F2F2F2;
    background-color: #F2F2F2;

}
.gpsicon{
    align-self: center;
    font-size: 0.5em;
}
.input{
    padding-left: 15px;
    font-weight: bold;
    font-size: 0.4em;
    border: 0.1em solid#F2F2F2;
}
.researchbutton{
    padding: 0 10px 0 10px;
    font-size: 0.4em;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    border: solid #0065FC;
    color: white;
    background-color: #0065FC;
}
.researchicon{
    display: none;
}

/*section research responsive*/

@media screen and (max-width: 817px){
    .research{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px 0 15px;
        font-size: 1.1em;
    }
    .researchicon{
        display: contents;
    }
    .researchtext{
        display: none;
    }
    .researchbutton{
        position: relative;
        right: 10px;
        border-radius: 15px;
    }
}

/*filtersarea*/

.filtersarea{
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}
.filtersarea h2{
    margin-right: 50px;
}
.filtersbox{
    width: 60%;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}
.filterpic{
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 2.4em;
    height: 2.4em;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-right: 10px;
}
.filter{
    align-items: center;
    border-left: none;
    border:solid #F2F2F2;
    border-radius: 30px;
    padding-right: 15px;
    margin: 5px;
}
.filter:hover .filterpic{
    background-color: #0065FC;
    color: white;
    font-size: 1.3em;
}
.filter:hover{
    background-color: #DEEBFF;
    color: #0065FC;
    font-style: italic;
}
.infoicon{
    justify-content: center;
    align-items: center;
    color: #0065FC;
    width: 1.2em;
    height: 1.2em;
    margin-right: 15px;
    border:solid #F2F2F2;
    border-radius: 50%;
}
.infotext{
    align-items: center;
    margin-top: 30px;
}
/*filtersarea responsive*/
@media screen and (max-width: 817px){
    .filtersarea h2{
        width: 100%;
        margin-bottom: 5px;
    }
    .filtersbox{
        width: 100%;
    }
    .filter{
        padding-right: 10px;
    }
}
/*lodging section ---lodgingarticle--- */
.lodgingsection{
    margin-top: 50px;
}
.greystar{
    color:#F2F2F2;
}
.bluestar{
    color:#0065FC;
}
.lodgingarticle{
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 65%;
    padding: 3%;
    border-radius: 20px;
}
.lodgingarticle h2{
    margin-bottom: 25px;
    width: 100%;
}
.lodgingarticlecard{
    flex-direction: column;
    background-color: white;
    width: 30%;
    max-height: 200px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: grey 3px 3px 3px 3px;
}
.lodgingarticlepicbox{
    width: 100%;
    height: 55%;
}
.lodgingarticlepic{
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.loadgingarticlecardtext{
    flex-direction: column;
    justify-content: space-evenly;
    height: 45%;
    padding: 5px;
}
.showmore{
    width: 100%;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

/*lodgingarticle responsive*/

@media screen and (max-width: 817px){
    .lodgingarticle{
        width: 100%;
        background-color: white;
    }
    .lodgingarticlecard{
        width: 45%;
    }
}
@media screen and (max-width: 525px){
    .lodgingarticlecard{
        width: 100%;
        max-height: 200px;
        margin-bottom: 15px;
        font-size: 1.2em;
    }
}

/*lodgingsection populararticle*/

.populararticle{
    flex-wrap: wrap;
    width: 25%;
    border-radius: 20px;
    margin-left: 3%;
    padding: 3%;
    background-color: #F2F2F2;
}
.graphlogo{
    font-size: 1.8em;
}
.populararticleheader{
    width: 100%;
    justify-content: space-between;
}
.populararticlecard{
    width: 100%;
    height: 150px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: grey 3px 3px 3px 3px;;
}
.populararticlepicbox{
    width: 55%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}
.populararticlepic{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}
.populararticlecardtext{
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    width: 70%;
}
.populararticlecardheader{
    flex-direction: column;
    justify-content: space-evenly;
}

/*responsive populararticle*/

@media  screen and (max-width: 1024px){
    .lodgingsection{
        flex-wrap: wrap;
    }
    .lodgingarticle{
        width: 100%;
    }
    .populararticle{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 30px 0 0 0;
    }
    .populararticlecard{
        width: 30%;
        margin-top: 25px;
    }
}
@media  screen and (max-width: 817px){
    .populararticlecard{
        width: 40%;
    }
    .populararticle{
        justify-content: space-evenly;
        margin-top: 0px;
    }
}
@media screen and (max-width: 525px){
    .lodgingsection{
        flex-wrap: wrap-reverse;
    }
    .populararticlecard{
        width: 100%;
        height: 150px;
        font-size: 1.2em;
    }
}